body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0a3013;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
    display: block;
    margin-left: 200PX;
    margin-top: 200PX;
    max-width: 700px;
}

#headline{
    color: #fff;
    font-size: 45px;
}

#headline span{
    color: #21dc4c;
    display: block;
    border-bottom: 4px solid #21dc4c;
    padding-bottom: 7px;
    
}

#display{
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;

}
#display img{
    width: 30px;
    cursor: pointer;
}
#display input{
    border: 0;
    outline: 0;
    font-size: larger;
}
#btn{
    padding: 15px;
    background-color: #21dc4c;
    color: #fff;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 300;
    cursor: pointer;
}